body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
  font-size: 16px;
  color: aliceblue;
  background: linear-gradient(-45deg, #cfcad1, #6768ab);
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #3b3b4f;
}

form .link {
  text-align: center;
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 50px;
  background: #6768ab;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer; 
/*transform: translateZ(5px) perspective(100px);
  transition: transform 0.5s ease-in-out; */
}

.btn:hover {
  background: #9389bd;
  /* transform: translateZ(10px) perspective(100px); */
}

.signin-div {
  text-align: center;
}

.container {
  background: #3b3b4f;
  transform: translateZ(20px);
}

.input-field {
  width: 100%;
  height: 10px;
  background: #f0f0f0;
  margin: 10px 0;
  border: 2px solid #9389bd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}