body {
    margin: 0;
    padding: 0;
    background: url("../img/purple skies.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow: auto;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f163;
    margin: 0 auto;
    height: 0px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #3b3c7c;
}

.tabcontent {
    display: none;
    border-top: none;
    /* opacity: 0; */
    /* width: 0; */
    /* height: 0;/ */
    /* overflow: hidden; */
    box-sizing: border-box;
}

.tabactive {
    width: auto;
    height: auto;
}

.tabcontent h3 {
    margin-top: 0;
}

#outBtn button {
    position: absolute;
    right: 10px;
    top: 1px;
}

#Tab3 {
    text-align: center;
}

#Tab3 h3 {
    text-align: center;
}

#logoutBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#Tab1{
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    /* padding-top: 1em; */
    height: 100vh;
}

#calendar{
    width:500px;
    height: 90vh;
    box-sizing: border-box;
    /* margin: 0 auto; */
    color: #02071a;
    /* border: 1px solid rebeccapurple; */
    padding: 1em;
    border-radius: 1em;
    background-color: #8284f954;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
    max-width: 600px;

}

#sleeps{
    width:700px;
    height: 90vh;
    /* border: 1px solid red; */
}


#calendar table{
    overflow: hidden;
}

#calendar table, #calendar thead, #calendar td, #calendar th{
    border: 1px solid black;
    box-sizing: border-box;

}
#calendar td{
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    
}
#calendar td .fc-event:hover{
    /* background-color: rgba(255, 255, 255, 0.267); */
    position: absolute;
    /* padding: 1em; */
    /* box-sizing: border-box; */
    height: 100px;
    translate: 0% -25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 10000000;
}
#calendar td .fc-event:hover>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calendar td .fc-event:hover div{
    height: min-content;
    font-size: 20px;
    transition: 10ms;
    

}

#calendar .fc-timeGridWeek-view td .fc-event:hover{
    width: 300px;
    translate: -25% -25%;
    transition: 1s;
}
#calendar .fc-timeGridWeek-view td .fc-event:hover div{
    font-size: 15px;
}

/* #calendar .fc-scroller{
    opacity: 0;
    overflow: hidden !important;
} */



#logoutBtn:hover {
    background-color: #d32f2f;
}

@media (max-width: 768px) {
    #logoutBtn {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        padding: 8px 16px;
        /* Adjust padding for smaller screens */
    }
    #calendar {
        width: 200px;
        height: 600px;
    }
}



#Tab2 {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}

#Tab2 h3 {
    font-size: 4em;
}

#recorder{
    /* margin-top: 10em; */
    display: flex;
    justify-content: center;
}

#recorder div {     
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 0.5em;
    
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    background-color: #8284f954;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
}

#recorder button {
    border: none;
    border-radius: 10px;
    padding: 1em 2em;
    cursor: pointer;
}

#recorder button:hover {
    background-color: #3b3c7c9c;
    color: #ddd;
    transition: 0.3s;
}

.history {
    text-align: center;
}


#sleep-list {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 3em;
    flex-wrap: wrap;
    max-height: 450px;
    overflow-y: hidden;
    padding: 1em;
}

#sleep-list:hover {
    overflow-y: auto;
}

#sleeps h2{
    text-align: center;
}

.sleep_record{
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    background-color: #fff01c8e;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.analytics{
    height: 100vh;
    padding: 100px 200px;
    box-sizing: border-box;
}


/* #myChart{
    width: 500px !important;
    height: 250px !important;
} */

.clouds {
    z-index: 20;
    object-fit: contain;
}


.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


 #edit-modal{
    display: none;
    /* display: flex; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.432);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000000;
    align-items: center;
  }

  #edit-modal .form {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
  }

  #edit-modal .form h2{
    text-align: center;
  }