body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #cfcad1, #6768ab);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f163;
    margin: 0 auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #3b3c7c;
}

.tabcontent {
    display: none;
    border-top: none;
    /* opacity: 0; */
    /* width: 0; */
    /* height: 0;/ */
    /* overflow: hidden; */
    box-sizing: border-box;
}

.tabactive {
    width: auto;
    height: auto;
}

.tabcontent h3 {
    margin-top: 0;
}

#outBtn button {
    margin: 0 auto;
}

#Tab3 {
    text-align: center;
}

#Tab3 h3 {
    text-align: center;
}

#logoutBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#calendar{
    width:60%;
    height: 60%;
    margin: 0 auto;
    color: #02071a;
}

#logoutBtn:hover {
    background-color: #d32f2f;
}

@media (max-width: 768px) {
    #logoutBtn {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        padding: 8px 16px;
        /* Adjust padding for smaller screens */
    }
    #calendar {
        width: 200px;
        height: 600px;
    }
}



#Tab2 {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Tab2 h3 {
    font-size: 4em;
}

#Tab2 div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 0.5em;

}

#Tab2 button {
    border: none;
    border-radius: 10px;
    padding: 1em 2em;
    cursor: pointer;
}

#Tab2 button:hover {
    background-color: #3b3c7c9c;
    color: #ddd;
    transition: 0.3s;
}

.history {
    text-align: center;
}